* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}
html, body{
	height: 100%;
}
.wr{
	min-height:100%;
}
body{
	font-family:'Helvetica Neue',Helvetica,sans-serif;
	font-size: 16px;
	color: #364654;
	background: #e3f1f9;
}
.wrapper{
	max-width: 1040px;
	margin: 0 auto;
	border: 1px solid transparent;
	padding: 0 20px;
}
header{
	background: #111a29;
	text-transform: capitalize;
	color:#fff;
	text-shadow: 1px 1px 2px black;
}
header .wrapper{
	background: url("../images/header-bg.jpg") no-repeat right top;
	background-size:cover;
	-o-background-size:cover;
	-moz-background-size:cover;
	-webkit-background-size:cover;
	padding: 50px 20px;
}
header p{
	text-transform: uppercase;
	margin: 10px 0;
	color: #bfd4de;
}
h1, h2{
	font-weight: 400;
}
.step_name{
	font-weight: 700;
	background: #bfd4de;
}
.step_name .wrapper{
	padding: 20px 20px 20px 70px;
}
.registration_form2{
	background: #fff;
	padding: 45px 50px;
	margin-bottom: 100px;
	border: 1px solid transparent;
}
.registration_form2 p{
	margin-bottom: 70px;
	font-style: italic;
}
label{
	text-transform: capitalize;
	display: inline-block;
	width: 40%;
	font-weight: 700;
	text-align: right;
	padding-right: 15px;
	vertical-align: middle;
}
.required:after{
	content: "*";
}
.fifty{
	width: 50%;
	float: left;
	margin-bottom: 50px;
}
.fifty:nth-of-type(even){
	padding-left: 10px;
}
.fifty:nth-of-type(odd){
	padding-right: 10px;
}
.fifty input, .fifty select{
	width: 58%;
	height: 45px;
	vertical-align: middle;
	box-shadow: -1px -1px 2px #cfcfcf;
	-webkit-box-shadow: -1px -1px 2px #cfcfcf;
	-moz-box-shadow: -1px -1px 2px #cfcfcf;
	border: 1px solid #cfcfcf;
}
.clear{
	clear:both;
	display:block;
}
#step_button{
	color: #fff;
	background: #364654;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border: none;
	font-size: 18px;
	padding: 10px 20px;
}
footer{
	margin-top: -50px;
	height: 50px;
	background: #364654;
	padding: 15px 0;
	color: #fff;
}
.right{
	float: right;
}
.left{
	float: left;
}
footer .right a{
	color: #fff;
	text-decoration: underline;
	margin-left: 20px;
}
footer .right a:first-child{
	margin-left: 0;
}
footer .left a{
	color: #fff;
	text-decoration: none;
}

@media screen and (max-width:768px){
	.fifty{
		float: none;
		width:100%;
		margin-bottom: 30px;
	}
	.fifty:nth-of-type(even), .fifty:nth-of-type(odd){
		padding: 0;
	}
	label{
		text-align: left;
	}
	.registration_form2{
		padding: 25px 30px;
	}
	.step_name .wrapper {
		padding-left:50px;
	}
	.registration_form2 p{
		margin-bottom: 30px;
	}
	
}
@media screen and (max-width:500px){
	.fifty input, .fifty select, label{
		width:100%;
	}
	label{
		margin-bottom: 10px;
	}
	.registration_form2 {
		padding: 20px 15px;
	}
	.step_name .wrapper {
		padding-left:35px;
	}
	.left,.right{
		float:none;
		line-height:1.3;
	}
	footer{
		height: 75px;
	}
	footer .right{
		margin-top:5px;
	}
}
